# Stellar Network Configuration
SOROBAN_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
SOROBAN_RPC_URL="https://soroban-testnet.stellar.org:443"

# Contract Deployment & Admin keys
ADMIN_SECRET_KEY="S..."
ADMIN_PUBLIC_KEY="G..."

# Test/Arbitration Keys
ORACLE_SECRET_KEY="S..."
ARBITER_SECRET_KEY="S..."
